/**
* Custom Css for backend 
*
* @package Business_Page
*/
#business-page-img-container li{
	padding: 3px;
}
#business-page-img-container .business-page-radio-img-selected{
	border: 3px solid #bcbcbc;
	padding: 1px;
	width: 16%;
}